table {
    background:#ffffb3;
    text-align:center;
    width:94%;
    margin:2%;
    border:1pt solid #000040;
}
caption {
    font-size:120%;
    text-decoration-style: solid;
}
tfoot, thead, FOOTER {
    background:#0000a0;
    color:#ffffff;
    font-size:110%
}
FOOTER{
    text-align: center;
}
td, th {
    border:1pt solid #000040;
}

FOOTER a {
    color:#ffffff;
}

tbody tr:nth-child(even){
    background:#ffffff;
}
